.App {
  text-align: center;
  color: #6d6d6d;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html,
body,
#root,
.App {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: fixed;
}

.disable-interaction {
  pointer-events: none;
}

@keyframes star-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
